<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{HH:mm:ss.SSS}] %highlight([%level]) %magenta([%thread]) %yellow(%logger) - %cyan(%msg) %kvp %n
            </pattern>
            <!-- %yellow([%level])  -->
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>